# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Expo / React Native
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# iOS
ios/build/
ios/Pods/
ios/.symlinks/
ios/ProfileData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android
android/.idea
android/.gradle
android/app/build
android/build
android/local.properties
android/**/*.apk
android/**/*.aab

# macOS
.DS_Store

# Backend / Environment Variables
.env
.env.local
.env.development
.env.test
.env.production

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# SQLite Databases
*.db
*.sqlite
*.sqlite3
